#cabecera
{
    color:#fff;
    height:50px;
    width:100%;
    position:relative;
    left:-0px;
    right:100%;
    overflow: hidden;
    top:19px;
}
#header h1,
#header h2, 
#header h3
{
    position:absolute;
    padding:0;
    margin:0;
}
#header h1
{
    top:12px;
    left:5%;
    position:absolute;
}
#header h2
{
    top:6px;
    left:30%;
}

#header h3
{
    top:0px;
    right:5%;
}
.cintilloPrincipal{
    position:absolute; 
    height:3px; 
    z-index:1; 
    left: 0px; 
    top: 0px;
    font-weight: bold;
    color: #FFF;
}

body {
    font: normal 12px Verdana, Arial, sans-serif;
}

table
{
    font-size: 11px;
}

th span {
    font-weight: bold;
}

.ui-datatable-odd {
background: none repeat scroll 0 0 #F2F5F9;
}

.colOpciones
{
    text-align: center;
}
.test{
    z-index: -1;
}
/*Estatus del calendario*/
.activo { background: green; }
.inactivo { background: red; }
/*Login*/
.cajaLogin {
    position: fixed;                
    left: 75%;
    top: 69%;                               
    width: 30%;                
    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);
}

#divLogo { position: fixed; left: 23%; top: 102px; }

.reloj { float: right; padding-right: 2%; }
.inputTxt { width: 100%; }
#divLogin h3 { padding-right: 0px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; margin: 1px; width: 35%; }
#divLogin .btn { left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); margin: 10px auto;}
#divLogin .imgLogo { margin: 10px; width: 20%; height: 10% }

.pnl3 {position: fixed; margin-top: 20%;}
.pnl1 {width: 49%; height: 30%; float: left; position: inherit;}
.pnl2 {width: 49%; height: 30%; float: right;}

.perfilGrid.ui-panelgrid>*>tr,
.perfilGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.cotGrid.ui-panel>*>tr,
.cotGrid.ui-panel .ui-widget .ui-widget-content .ui-corner-all{
    border: none;
}

#datos\:modificar:hover {
    font-weight: normal;
    color: #026890;
    border: 1px solid #448dae;
    background: #79c9ec url("/agenda/faces/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png?ln=primefaces-start") 50% 50% repeat-x;
}